.events_img img{
    height: 100vh;
    width: 100%;
    position: relative;
}
.events_text{
    position: absolute;
    color:black;
    left:500px;
    top: 170px;
    font-size:40px;
}
.main{
    display: flex;
}
.h3{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: brown;
    margin-left: 70px;
}
.h1{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-left: 70px;
}
.p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: black;
    margin-left: 200px;
}
.div{
    background-color:grey;
}
.div1{
    display: flex;
}
.div2{
    margin-left: 30px;
    background-color: white;
}
.div2 img{
    height: 260px;
    width: 260px;
    margin: 20px;
}
.d{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
}
.i{
    
    height: 400px;
    width: 700px;
}
.a{
    height: 400px;
    width: 700px;
    background-color:blanchedalmond;
}