.about_img img{
    height: 100vh;
    width: 100%;
    position: relative;
}
.about_text{
    position: absolute;
    color:black;
    left:560px;
    top: 250px;
    font-size:40px;
}
.h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.h2{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: brown;
}
.p{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: black;
}
.d{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    /* bottom: 250px;
    background-color:rgb(196, 188, 188);
    height: 270px;  */
}
.i{
    
    height: 400px;
    width: 700px;
}
.a{
    height: 400px;
    width: 700px;
    background-color: grey;
}
.h{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.p1{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.p2{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: brown;
}
